*,
::before,
::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label{
  font-size: 20px;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background:#FFF;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(60, 68, 90, 1);
  }
.container>h1{
  margin-bottom: 20px;
}
.container>form{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container div{
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.container ::placeholder{
  font-size: 12px;
  font-style: italic;
}

button{
  background-color: purple;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin: 15px 0;
}

.Toastify__toast-icon svg {
  width:30% !important; /* Adjust the size as needed */
  height: 30% !important; /* Adjust the size as needed */
}
.Toastify__toast {
    width: 30% !important; /* Adjust the size as needed */
  height: 30% !important; /* Adjust the size as needed */
}
.Toastify__toast-icon {
    width:30% !important; /* Adjust the size as needed */
  height:30% !important; /* Adjust the size as needed */
}